@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Shadows Into Light', cursive;
}